*.exe
*.dll
*.hi
*.key
*.log
*.o
*.crt
*.sqlite*

tags

/.ghci
/.projections.json
/.stack-work/
/*.cabal
/conf/actual.yaml
/db_migrations/
/log/
/stack.yaml.lock
/target/

/frontend/dist/
/frontend/node_modules/
