*.exe
*.dll
*.hi
*.key
*.log
*.o
*.crt
*.sqlite*

tags

/.app_secret.txt
/.db_username
/.db_password
/.ghci
/.projections.json
/.stack-work/
/db_migrations/
/log/
/stack.yaml.lock
/target/

/frontend/dist/
/frontend/node_modules/
